
<%= form_with model: @usuario do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, required: true %>
  </div>

  <div>
    <%= form.label :correo %>
    <%= form.email_field :correo, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true%>
  </div>
  <div>
    <%= form.submit %>
  </div>

  <% @usuario.errors.full_messages.each do |error|%>
    <div>
      <%= error %>
    </div>
  <%end%>
<% end %>