<div>
<h1>Usuarios</h1>
<h2>Usuarios Registrados: <%= @usuarios.count %></h2>
<%= link_to 'Registrar Usuario', new_usuario_path %>
</div>
<br />

<% @usuarios.each do |usuario|%>
  <h3><%= usuario.nombre%></h3>
  <span>email: <%= usuario.correo %> </span>
  <%= link_to 'Ver detalles', usuario_path(usuario.id) %>
<% end %>
