<%= link_to 'Volver', usuarios_path, class: 'btn btn-primary' %>
<h1><%= @usuario.nombre%></h1>
<span><b>Correo:</b> <%= @usuario.correo%></span>
<br/>
<span><b>Fecha de Registro:</b> <%= @usuario.created_at%></span>
<br/>
<%= link_to 'Editar Usuario', edit_usuario_path(@usuario) %>
<%= link_to 'Eliminar Usuario', usuario_path(@usuario), data: {turbo: true, turbo_method: :delete, turbo_confirm: '¿Estás seguro?'} %>
