<%= form_with model: @producto do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :precio %>
    <%= form.number_field  :precio, step: 0.01 %>
  </div>

  <div>
    <%= form.label :foto %>
    <%= form.file_field :foto, id: 'foto-input' %>

    <div id="foto-preview">
      <% if @producto.foto.attached? %>
        <p>Imagen actual:</p>
        <%= image_tag @producto.foto, id: 'foto-preview-image', width: 100 %>
      <% else %>
        <img id="foto-preview-image" width="100" style="display: none;">
      <% end %>
    </div>

  <div>
    <%= form.submit %>
  </div>

  <% @producto.errors.full_messages.each do |error|%>
    <div>
      <%= error %>
    </div>
  <%end%>
<% end %>

<%= javascript_tag do %>
  document.getElementById('foto-input').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const preview = document.getElementById('foto-preview-image');

    if (file) {
      const reader = new FileReader();

      reader.onload = function(e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
      }

      reader.readAsDataURL(file);
    } else {
      preview.style.display = 'none';
      preview.src = '';
    }
  });
<% end %>

