<div>
  <h1>Productos</h1>
  <h2>Productos Disponibles: <%= @productos.count %></h2>
  <%= link_to 'Añadir Producto', new_producto_path %>
</div>
<br />

<div>
  <% @productos.each do |producto|%>
    <h3><%= producto.nombre %></h3>
    <span>$ <%= producto.precio %> </span>
    <%= link_to 'Ver detalles', producto_path(producto.id) %>
  <% end %>
</div>
